:root {


  --blackColor: #1F1E23;
  --darkColor: #151516;
  --grayColor: #4D4D4D;
  --greenColor: #00FF00;
  --lightBgColor: #EAEAEA;
  --bgColor: #DDDDDD;
  --bulletsColor: #CFCFCF;
  --txtColor: #4D4D4D; 


}


/* Глобальные стили */

body {
  background-color: var(--bgColor);
}

html {
  font-size: 16px;
}

html, body {
  overflow-x: hidden;
}

a:visited {
  color: var(--blackColor);
}

a:active {
  color: var(--blackColor);
}

.tag a:visited {
  color: var(--lightBgColor);
}

.tag a:active {
  color: var(--lightBgColor);
}

.btn--action a:visited {
  color: var(--blackColor);
}

.btn--action a:active {
  color: var(--blackColor);
}

.card--darkBg {
  background-color: var(--lightBgColor);
}

.card--lightBg {
  background-color: var(--bgColor);
}

input {
  outline: none; 
  border-bottom: 1px solid var(--grayColor) !important;
  border-radius: 0px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background: none;

  font-family: 'PTSans-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 105.5%;
  letter-spacing: 0.01em;
  color: black;
  margin: 0;
  padding: 0;
  padding-bottom: .5rem !important;
}



::placeholder {
  color: var(--blackColor);
  opacity: .7;
}



button {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  border-radius: none !important;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  overflow-x: visible;
}




.research-logo {
  background-image: url(../base-img/logos/logo-green-r.png);
  background-size: cover;
  background-position: center;
  width: 13.7rem;
  height: 2.56em;

}

.solutions-logo {
  background-image: url(../base-img/logos/logo-green-s.png);
  background-size: cover;
  background-position: center;
  width: 13.7rem;
  height: 2.56em;

}

.solutions-logo-2 {
  background-image: url(../base-img/logos/logo-green-s-2.png);
  background-size: cover;
  background-position: center;
  width: 13.7rem;
  height: 2.56em;

}

.skolkovo-logo {
  background-image: url(../base-img/logos/skolkovo.png);
  background-size: cover;
  width: 6rem;
  height: 4.5rem;
}

.skolkovo-logo-1 {
  background-image: url(../base-img/logos/skolkovo-1.png);
  background-size: cover;
  width: 9.25rem;
  height: 3rem;
}

.icon-plus {
  background-image: url(../base-img/icons/plus.svg);
  background-position: center;
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
}

.icon-close {
  background-image: url(../base-img/icons/close.svg);
  background-position: center;
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
}

.icon-arrow {
  background-image: url(../base-img/icons/arrow.svg);
  background-position: center;
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
}

.icon-play {
  background-image: url(../base-img/icons/play.svg);
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
}


.d-u--tl, /* Corner Top-Left */ 
.d-u--tr, /* Corner Top-Right */ 
.d-u--bl, /* Corner Bottom-Left */ 
.d-u--br, /* Corner Bottom-Right */ 

.d-c--tl, /* Center Top-Left */ 
.d-c--tr, /* Center Top-Right */ 
.d-c--bl, /* Center Bottom-Left */
.d-c--br, /* Center Bottom-Right */ 

.d-p--t,  /* Plus Top */
.d-p--b  /* Plus Bottom */ {
  width: 4rem;
  height: 4rem;
  position: absolute;
}

#d--g {
  border-color: var(--greenColor);
}

.d--des {
}

.d--mob {
}



.d-u--tl {
  top: 0;
  left: 0;
  border-left: 1px solid var(--blackColor);
  border-top: 1px solid var(--blackColor);
}

.d-u--tr {
  top: 0;
  right: 0;
  border-right: 1px solid var(--blackColor);
  border-top: 1px solid var(--blackColor);
}

.d-u--bl {
  bottom: 0;
  left: 0;
  border-left: 1px solid var(--blackColor);
  border-bottom: 1px solid var(--blackColor);
}

.d-u--br {
  bottom: 0;
  right: 0;
  border-right: 1px solid var(--blackColor);
  border-bottom: 1px solid var(--blackColor);
}

.d-c--tr {
  top: 0;
  right: 0;
  border-top: 1px solid var(--blackColor);
  border-right: 1px solid var(--blackColor);
}

.d-c--tl {
  top: 0;
  left: 0;
  border-top: 1px solid var(--blackColor);
}

.d-c--br {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid var(--blackColor);
  border-right: 1px solid var(--blackColor);
}

.d-c--bl {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--blackColor);
}

.d-p--t {
  bottom: 0;
  left: -1px;
  border-bottom: 1px solid var(--blackColor);
  border-left: 1px solid var(--blackColor);
  z-index: 9999;
}

.d-p--b {
  top: -1px;
  right: 0;
  border-top: 1px solid var(--blackColor);
  border-right: 1px solid var(--blackColor);
  z-index: 9999;
}

.card--num,
.card--form,
.card--contact {
    position: relative;
}

.num-box {
  border-left: .2rem solid var(--greenColor);
  padding-left: .8rem;
}

.num-box .opthead {
  margin-bottom: 0.3rem;
}










.btn--close {
  display: flex;
  flex-direction: row; 
  align-items: center;
  transition: 0.3s;
  color: var(--lightBgColor);
  text-decoration: none;
  cursor: pointer;
}

.btn--close .icon-close {
  margin-right: 16px;
} 

.btn--close h3:hover {
  opacity: 0.5;
  transition: 0.3s;
}


.btn--arrow {
  display: flex;
  flex-direction: row; 
  align-items: center;
  transition: 0.3s;
  color: var(--lightBgColor);
  text-decoration: none;
  text-align: right;
  cursor: pointer;

}

.btn--arrow .icon-arrow {
  margin-right: 1rem;
} 

.btn--arrow:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.btn--plus {
  display: flex;
  flex-direction: row; 
  align-items: center;
  transition: 0.3s;
  color: var(--lightBgColor);
  text-decoration: none;
  cursor: pointer;
}

.btn--plus .icon-plus {
  margin-right: 16px;
} 

.btn--plus .opthead {
  margin: 0;
  padding: 0;
}

.btn--plus h3:hover {
  opacity: 0.5;
  transition: 0.3s;
}


.btn--action:hover {
  background-color: var(--blackColor);
  color: var(--lightBgColor) !important;
  transition: 0.3s;
}

.black-btn {
  background-color: var(--darkColor) !important;
  color: var(--lightBgColor) !important;
}

.black-btn:hover {
  background-color: var(--lightBgColor) !important;
  color: var(--blackColor) !important; 
}

.btn--action {
  padding: .3rem .7rem;
  border: 0px;
  background-color: var(--greenColor);
  border-radius: 7px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  font-family: 'FiraCode-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.015em;
  color: var(--blackColor);
  transition: 0.3s;
  display: inline-block
}

  
.tag {
  padding: .3rem .7rem;
  border: 0px;
  background-color: var(--blackColor);
  border-radius: 7px;

  font-family: 'FiraCode-Regular';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.015em;
  color: var(--lightBgColor) !important;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block
}

.tag:hover {
  background-color: var(--lightBgColor) !important;
  color: var(--blackColor) !important;
  transition: 0.3s;
}





.bullet-box {
  border-left: 4px solid var(--greenColor);
  padding-left: .8rem;
  margin-bottom: 2rem;
}

.bullet-box .opthead {
  margin-bottom: 1rem;
}




.cover--txt .point-box {
  position: relative;
  text-align: center;
}



.table-box {
  border-bottom: 1px solid var(--lightBgColor);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table-box .subhead {
  color: var(--lightBgColor);
}

.table-box .txt {
  color: var(--bulletsColor);
  width: 70%;
  margin-top: 1rem;
}

/* Tables */ /* Tables */ /* Tables */
















