@media (min-width: 768px) {
	#cover .container {
	margin-bottom: 0px;
	padding-top: 8rem;
	overflow-x: hidden;
	height: 100vh;
}

.cover--img {
	background-image: url(../img/cover/cover.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40vh;
	margin-bottom: 5rem;
}

.cover--txt {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

#cover .point-box {
	width: 30rem;
	margin-bottom: 2rem;
	padding-left: .5rem;
	padding-right: .5rem
}

#cover .point-box .opthead{
	width: 80%;
	margin: 0 auto 1rem;

}

#cover .point-box .d-u--br {
	height: 2rem;
	width: 2rem;
}

#cover .point-box .d-u--bl {
	height: 2rem;
	width: 2rem;
}

.cover-btn {
	display: flex;

}

.cover-btn .btn--action {
	margin-right: 1rem
}

#doc-img {
  position: absolute;
  width: 500px;
  height: 700px;
  margin-left: 0px;
	margin-top: -300px;
	left: 50%;
	top: 50%;
  display: none;
}


#btn-doc {
	color: var(--lightBgColor);
	background-color: var(--darkColor);
}


#focus .container {
	margin-bottom: 9rem
}

.focus-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.focus--txt {
	width: 50%;
}

.focus--txt .opthead {
	width: 50%;
	margin-top: 3vh;
}

.focus--bullets {
	width: 50%;
}

.focus--bullets .opthead {
	color: var(--lightBgColor);
}

.focus-screen .subhead {
	width: 80%;
}

.focus-img {
	background-image: url(../img/focus/focus.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40vh;
	margin-top: 6vh;
}


#about .container {
	margin-bottom: 9rem;
}

#about .txt {
	margin-bottom: 10px;
}

#about .card--num {
	height: 35vh;
	padding-left: 4vw;
	padding-top: 8vh;
}

.card--txt .subhead {
	margin-bottom: 20px !important;
}




.card--txt {
	width: 80%;
}



#about .subhead {
	margin-bottom: 4rem;
}

#model .container {
	margin-bottom: 9rem
}


#model .card--form, .card--num {
	min-height: 18rem;
}

#model .txt-box {
	margin-bottom: 2rem;
	width: 90%
}

#model .subhead {
	margin-bottom: 4rems
}

#model .txt-box .opthead {
	margin-bottom: .6rem
}

#model .card--form {
	padding-right: 0
}

.card--form form {
	width: 100%
}
}


.focus-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.focus--txt {
	width: 50%;
}

.focus--txt .opthead {
	width: 50%;
	margin-top: 3vh;
}

.focus--bullets {
	width: 50%;
}

.focus--bullets .opthead {
	color: var(--lightBgColor);
}

.focus-screen .subhead {
	width: 80%;
}

.focus-img {
	background-image: url(../img/focus/focus.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 50vh;
	margin-top: 6vh;
}


#table .container {
	margin-bottom: 9rem
}
.table-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.table-box-container {
	width: 70%;
	margin-right: 50px;
}














