@media only screen and (min-width: 768px) and (max-width: 1024px) {

#doc-img {
    position: absolute;
  width: 400px;
  height: 565px;
  margin-left: 0px;
	margin-top: -300px;
	left: 50%;
	top: 50%;
  display: none;
}

.point-box {
	width: 25rem !important;
}


}


@media (max-width: 767px){



#cover .container {
	margin-bottom: auto;
	padding: 5rem 0 0;
	overflow-x: visible;
	height: 100vh;
	margin-bottom: 5rem;
	text-align: center;

}

.cover--img {
	background-image: url(../img/cover/cover.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40vh;
	margin-bottom: 5vh;
}

.cover--wrapper {
	padding: 0 8.5vw;
	height: 60vh;

}

.cover--txt .big-head {
	font-size: 4.5rem;
}


.cover--txt {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	width: 100%;
	height: 30vh;

}

#cover .point-box {
	width: 80%;
	margin: auto;
	padding-left: .5rem;
	padding-right: .5rem;

}

#cover .point-box .opthead{
	width: 80%;
	margin: auto;

}
#cover .point-box .d-u--br {
	height: 2rem;
	width: 2rem;
}

#cover .point-box .d-u--bl {
	height: 2rem;
	width: 2rem;
}

.cover-btn {
	width: 50%;
	z-index: 9999;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cover-btn .btn--action {
	margin-bottom: 1rem;

}

#btn-doc {
	color: var(--lightBgColor);
	background-color: var(--darkColor);
}

.cover-btn #btn-doc {
	margin: 0

}

#doc-img {
  position: absolute;
  width: 380px;
  height: 530px;
  margin-left: -170px;
	margin-top: -300px;
	left: 50%;
	top: 50%;
  display: none;
}

#about .container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	overflow-x: visible;
	margin-bottom: -4rem
}

.about--txt .subhead {
	margin-bottom: 24px;
}

.about--txt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
}

.about--txt-block .subhead {
	width: 180%;
}

.about--txt-block .opthead {
	margin-bottom: 1rem;
}

.about--txt-block .txt{
	width: 180%;
	margin-bottom: 2rem;
}

.about--txt-block {
	width: 100%;
	padding-right: 5vw;
}

.about--num {
	width: 110%;
	margin-top: 4rem;
	display: flex;
	flex-direction: column; 
	flex-wrap: nowrap;
	justify-content: space-between;
}

.about--num .subhead{
	margin-bottom: 30px;
}

.about--num-box {
	border-left: 4px solid var(--greenColor);
  	padding-left: 12px;
  	margin-bottom: 50px;
}

.million-box {
	display: flex;
	flex-direction: row;
}

.num-million {
	margin-right: 40pх;

}	

#task .container {
	margin-bottom: 15rem;
}

#task .cards-container--row {
	flex-direction: column;
} 




#task .subhead {
	margin-bottom: 2vh;
}

#task .txt {
	margin-bottom: 1vh;
}

#task .card--num {
	padding-left: 3vw;
}





#focus .container {
	padding: 0;
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 5rem
}

.focus-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 8.5vw;	
}

.focus--txt {
	width: 80%;
	margin-bottom: 3rem
}

.focus--txt .opthead {
	width: 100%;
	margin-top: 2rem;
}

.focus--bullets {
	width: 100%;
}

.focus-screen .subhead {
	width: 80%;
}

.focus-img {
	margin-bottom: 2rem;
}



#techinfo {
	margin-bottom: 9rem;
}

#techinfo .container {
	overflow-x: visible;
}

#techinfo .cards-container--nor {
	flex-direction: column;
}

#techinfo .card--num {
	width: 100%;
	padding-top: 8vh;
	padding-bottom: 5vh;
	padding-left: 5vw;
	min-height: 25rem
}



#techinfo .opthead {
	margin-bottom: 1rem;
}

.card-txt-wrapper {
	margin-bottom: 2rem
}

.card--txt-box {
	width: 100%;
	margin-top: 2rem;
}

.card--txt-box .card-txt-wrapper {
	width: 100%;
	margin-right: 10rem;

}

.card-txt-wrapper .txt {
	margin-bottom: 1rem;
}

.card--txt-box {
	display: inline-block;
}

.card--txt-box .btn--action{
	margin-top: 1rem
}



.



}

