@media (min-width: 768px) {
	.header-des {
	display: block;
	position: fixed;
	margin: 0 auto;
	max-width: 100%;
	top: 0;
	background-color: var(--bgColor);
}

.header-mob {
	display: none;
}

.header-wrapper {
	padding: 1rem, 5,5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

}

.header-left, .header-right {
	margin-top: 1rem
}

#welcome .container {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	padding-left: 5.5vw;
	padding-right: 0;
	margin-bottom: 4rem;
	display: flex;
	align-items: flex-end;
	position: relative;
}



#welcome .research-logo {
	margin-bottom: 1rem;
}

.welcome--txt{
	margin-bottom: 2rem;
}

.welcome--txt .head {
	margin-bottom: 1rem;
	white-space: nowrap;
}

.welcome--txt .opthead {
	margin-bottom: 4vh;
	width: 60%;
}


.welcome--img {


}




#about .container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	overflow-x: visible;
	margin-bottom: 18rem;
	height: 90vh;
	padding-top: 10rem;
}


.about--txt {
	width: 50%;
	min-height: 85vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about--txt-block {
	margin-bottom: 2rem
}

.about--txt-block .subhead {
	width: 180%;
	margin-bottom: 2rem
}

.about--txt-block .txt {
	width: 180%;
	margin-bottom: 1rem
}

.about--txt-block  {
	width: 50%;
}

.about--num {
	width: 50%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.about--num .subhead{
	margin-bottom: .5rem;

}

.about--num-box {
	border-left: 4px solid var(--greenColor);
  padding-left: 12px;
  margin-bottom: 0.5rem;
}

.million-box {
	display: flex;
	flex-direction: row;
}

.million-box .mil {
	margin-right: 2rem
}






.sol-slider {
	height: 100%;
	width: 100%;
	margin-bottom: 5rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.callback--form {
	height: 15rem !important
}

#card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
	display: none;
}

.slider-card  {
	width: 50%;
}

.slider-card .card--num {
	max-height: 15rem;
	width: 100%;
	padding: 4.5rem;
	margin-bottom: 2rem;
}
.slider-card .card--num .txt {
	width: 70%
}

.slider-card .card--num .subhead {
	width: 100%;
	margin-bottom: 1rem;
}

.silder-num {
	height: 100%;
	width: 50%;
}

.slider-card-item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.num-wrapper {
	display: flex;	
}

#num-disable {
	opacity: 30%;
}


.sol-form .subhead {
	margin-bottom: 2rem
}

.sol-form .callback--txt {
	width: 50%
}

.sol-form .callback--txt .opthead {
	width: 50%
}

.card-txt .txt {
	width: 100%
}


#res-products .container {
	overflow-x: visible;
	padding-top: 5rem;
	margin-bottom: 9rem;
}

#res-products .card--num {
	padding-bottom: 5rem;
	padding-top: 5rem;
	min-height: 10rem;
}

#res-products .card--form form {
	width: 90%
}



#res-products .card--num .card-left {
	width: 60%;
	height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#res-products .card--num .card-right {
	width: 40%;
	height: 12rem;
}

#res-products .card--num .two-num	{
	height: 65%
} 


#res-products .card--contact .subhead{
	margin-bottom: 5.2rem
}

#res-products .card-left .subhead {
	margin-bottom: 1rem
}

#res-products .card-left .txt {
	margin-bottom: 1rem
}

#industry .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.ind-content {
	width: 50%;
}

.ind-card {
	width: 50%;
	position: relative;
	padding: 3rem;
}

.ind-card-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}


.ind-img {
	width: 4.5rem;
	height: 4.5rem;
}

.ind-card-left {
	width: 15%;
	margin-right: 5%;
}

.ind-card-right {
	width: 80%;
}

.ind-card-right .subhead {
	margin-bottom: 3rem
}

.ind-card-right .opthead {
	margin-bottom: 1rem;
	color: var(--blackColor);
}

.ind-bullets .opthead {
	color: var(--grayColor);
}


#callback .container {
	height: 60vh;
	margin-bottom: 10vh;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
	margin-bottom: 9rem;
}

.callback--wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.callback--form {
	height: 30rem;
}

.callback--txt {
	width: 30%;
}


#callback .container .head {
	margin-bottom: 3rem;
}

.callback--form {
	width: 50%;
}

.callback--form form {
	  display: flex;
  	flex-direction: column;
  	align-items: flex-end;

}

.callback--form input {
	margin-bottom: 48px;
	width: 100%;
}

}





