
	.header-des {
	display: block;
	position: fixed;
	margin: 0 auto;
	max-width: 100%;
	top: 0;
	background-color: var(--bgColor);
}

.header-mob {
	display: none;
}

.header-wrapper {
	padding: 1rem, 5,5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

}



.header-left, .header-right {
	margin-top: 1rem
}

#welcome .container {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	padding-left: 5.5vw;
	padding-right: 0;
	margin-bottom: 4rem;
	display: flex;
	align-items: flex-end;
	position: relative;
}



#welcome .solutions-logo {
	margin-bottom: 3rem;
}

.welcome--txt{
	margin-bottom: 2rem;
}

.welcome--txt .head {
	margin-bottom: 1.5rem;
	white-space: nowrap;
}

.welcome--txt .opthead {
	margin-bottom: 4vh;
	width: 60%;
}


.welcome--img {


}




#about .container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	overflow-x: visible;
	margin-bottom: 18rem;
	min-height: 90vh;
	padding-top: 10rem;
}


.about--txt {
	width: 50%;
	min-height: 85vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about--txt-block {
	margin-bottom: 2rem
}

.about--txt-block .subhead {
	width: 180%;
	margin-bottom: 2rem
}

.about--txt-block .txt {
	width: 180%;
	margin-bottom: 1rem
}

.about--txt-block  {
	width: 50%;
}

.about--num {
	width: 50%;
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.about--num .subhead{
	margin-bottom: .5rem;

}

.about--num-box {
	border-left: 4px solid var(--greenColor);
  padding-left: 12px;
  margin-bottom: 0.5rem;
}

.million-box {
	display: flex;
	flex-direction: row;
}

.million-box .mil {
	margin-right: 2rem
}


#research-link .container {
	width: 100%;
	height: 90vh;
	margin-bottom: 5rem;
}

.research-wrapper {
	height: 100%;
	width: 100%;
	background-color: var(--blackColor);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 1rem;
}

.research-txt {
	width: 30rem;
	height: 100%;
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-left: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.research-txt-top {
	width: 100%;
	height: 20%
}

.research-img {
	background-image: url(../img/research/research-pic.png);
	background-position: left;
	background-size: cover;
	width: 70%;
	height: 100%;
	border-radius: 1rem;

}

.research-txt .research-logo {
	margin-bottom: 2rem
}

.research-txt .head {
	margin-bottom: 2rem;
	color: var(--lightBgColor);
	width: 120%
}



.sol-slider {
	height: 100%;
	width: 100%;
	margin-bottom: 5rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}


#card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
	display: none;
}

.slider-card  {
	width: 50%;
}

.slider-card .card--num {
	min-height: 15rem;
	width: 100%;
	padding: 4.5rem;
	margin-bottom: 2rem;
}
.slider-card .card--num .txt {
	width: 70%
}

.slider-card .card--num .subhead {
	width: 100%;
	margin-bottom: 1rem;
}

.silder-num {
	height: 100%;
	width: 50%;
}

.slider-card-item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.num-wrapper {
	display: flex;	
}

#num-disable {
	opacity: 30%;
}

#solutions .container {
	margin-bottom: 9rem;
}

.sol-btn-wrapper .black-btn {
	margin-right: 0.5rem
}

.sol-btn-wrapper .green-btn:hover {
	background-color: var(--lightBgColor);
	color: var(--blackColor) !important;
}

#btn-1-back {
	display: none;
}


.sol-form .subhead {
	margin-bottom: 2rem;
	width: 30%
}

.sol-form .callback--txt {
	width: 50%
}

.sol-form .callback--txt .opthead {
	width: 70%
}

.card-txt .txt {
	width: 100%
}


#res-products .container {
	overflow-x: visible;
	padding-top: 5rem;
	margin-bottom: 9rem;

}

#res-products .card--num {
	padding-bottom: 5rem;
	padding-top: 5rem;
	min-height: 20rem;
}

#res-products .card--form {
	padding-bottom: 0rem;
	padding-top: 3rem;
	min-height: 20rem;
}

#res-products .card--form form {
	width: 90%
}



#res-products .card--num .card-left {
	width: 60%;
	height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#res-products .card--num .card-right {
	width: 40%;
	height: 12rem;
}

#res-products .card--num .two-num	{
	height: 65%
} 


#res-products .card--contact .subhead{
	margin-bottom: 5.2rem
}

#res-products .card-left .subhead {
	margin-bottom: 1rem
}

#res-products .card-left .txt {
	margin-bottom: 1rem
}


#focus .container {
	margin-bottom: 4rem;
	padding-top: 5rem;
}

.focus-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.focus--txt {
	width: 50%;
}



.focus--bullets {
	width: 50%;
}

.focus--bullets .txt {
	width: 80%
}

.focus--bullets .opthead {
	color: var(--blackColor);
}

.focus-screen .subhead {
	width: 80%;
}

.focus-img {
	background-image: url(../img/focus/img.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40vh;
	margin-top: 2rem

}


#industry {
	margin-bottom: 4rem;
	padding-top: 5rem;
}

#industry .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	height: 25rem;
}

.ind-content {
	width: 50%;
}

.ind-card {
	width: 50%;
	min-height: 100%;
	position: relative;
	padding: 2rem 3rem 0rem 3rem;
	display: flex;
	align-items: flex-start;
	position: relative;
}

.ind-card-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

#bullet-1, #bullet-2, #bullet-3, #bullet-4 {
	margin: 0;
	padding: 0;
	margin-right: 0.4rem;
	display: inline-block;
	color: #1F1E23;
}

#bullet-1 {
	color: #00FF00;
}

#btn-ind-4{
	opacity: 50%;	
}
#btn-ind-3{
	opacity: 50%;
}
#btn-ind-2{
	opacity: 50%;
}

.ind-slider-bull {
	margin-left: -1rem
}

.ind-slider-bull .opthead {
	color: var(--blackColor);
	display: inline-block;
}

.ind-img {
	height: 4rem
}

.ind-card-left {
	width: 15%;
	margin-right: 5%;
}

.ind-card-right {
	width: 100%;
}

.ind-card-right .subhead {
	margin-bottom: 3rem
}

.ind-card-right .opthead {
	margin-bottom: 1rem;
	color: var(--blackColor);
}



.ind-bullets .btn--plus {
	bottom: 0;
	margin-bottom: 0;
}


.ind-bullets .opthead {
	color: var(--grayColor);
}

.ind-card-right .txt {
	width: 100%
}

.ind-content {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ind-bullets .bullet-box {
	margin-bottom: 1rem
}

.btn--plus .opthead{
	margin-bottom: 0
}

.btn--close .opthead{
	margin-bottom: 0
}

.btn--plus, .btn--close {
	margin-top: 2rem;
}



#moreCase {
	display: flex;
}

.bullet-box-dis {
	display: none;
}


.ind-txt {
	width: 70%
}

.ind-slider-bull .opthead {
	margin-bottom: .7rem;
	cursor: pointer;
}

#card-ind-2, #card-ind-3, #card-ind-4 {
	display: none;
}



.ind-txt .subhead {
	margin-bottom: 1rem;
}

#logo .container {
	position: relative;
	margin-bottom: 9rem;
}

.logo-item {
	width: 10rem;
	margin-right: 5rem;
	margin-left: 5rem;
}

.prev {
	height: 1.5rem;
	width: 1.5rem;
	transform: rotate(180deg);
	position: absolute;
	left: 0px;
	top: 2.5rem;
	cursor: pointer;
}

.next {
	height: 1.5rem;
	width: 1.5rem;
	position: absolute;
	right: 0px;
	top: 2.5rem;

	cursor: pointer;
}


#cases .container {
	width: 100%;
	margin-bottom: 9rem;
	padding-top: 5rem;
}

.case-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.case-card {
	position: relative;
	width: 50%;
	padding: 3rem;
	min-height: 30rem;

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}




.case-img {
	width: 45%;
	min-height: 30rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#case-img-1 {
	background-image: url(../img/cases/case-1.jpg);
}

#case-img-2 {
	background-image: url(../img/cases/case-2.jpg);
}

#case-img-3 {
	background-image: url(../img/cases/case-3.jpg);
}

#case-img-4 {
	background-image: url(../img/cases/case-4.jpg);
}

#case-img-5 {
	background-image: url(../img/cases/case-5.jpg);
}



.case-txt {
	width: 90%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.case-txt .opthead {
	margin-bottom: 1.5rem
}

.case-card {
	position: relative;
}

#hide-case-1, #hide-case-2, #hide-case-3, #hide-case-4, #hide-case-5 {
	margin-bottom: 3rem;
}

.case-card  .btn--action {
	position: absolute;
	bottom: 3rem;
	left: 3rem;
}


.case-txt .txt {
	margin-bottom: 0.5rem
}

.case-txt .btn--action {
	margin-top: 1.5rem
}

.case-bullets {
	width: 20%;
	height: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.case-arrow {
	background-image: url(../../base-img/icons/arrow.svg);
	transform: rotate(90deg);
	background-position: center;
	background-size: cover;

	height: 1.6rem;
	width: 1.6rem;
	cursor: pointer;

	transition: .3s;
}

.case-arrow:hover {
	opacity: 80%;
}

.case-bullet{
	height: .4rem;
	width: .4rem;
	margin-top: 0.3rem;

	border-radius: .8rem;
	cursor: pointer;

	transition: .3s;
}

.dis-bull{
	background-color: #CFCFCF;
}

.ac-bull {
	background-color: var(--grayColor);
}
 
	



#hide-case-1, #hide-case-2, #hide-case-3, #hide-case-4, #hide-case-5  {
	display: none;
}

#case-2, #case-3, #case-4, #case-5 {
display: none;
}

#case-arrow-5 {
	transform: rotate(270deg);
}



#news .container {
	margin-bottom: 4rem;
	padding-top: 5rem;
}

.show-news {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.hidden-news {
	display: none;
	flex-direction: column;
	align-items: flex-end;
}

#news .card--num {
	display: flex;
	flex-direction: column;
	padding: 3rem;
	position: relative;
}

#news .card--num .des {
	margin-bottom: 1rem;
}

#news .card--num .btn--action {
	position: absolute;
	bottom: 3rem;
	left: 3rem;
}

#news .card--num .opthead {
	margin-bottom: 1rem;
	width: 70%;
}

#news .card--num .txt {
	width: 90%;
	margin-bottom: 4rem;
}

#news .btn--plus, .btn--close {
	margin-bottom: 3rem
}

#lessNews-2 {
	display: none;
}



#callback .container {
	margin-bottom: 9rem;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
}

.callback--wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}


.callback--txt {
	width: 30%;
}


#callback .container .head {
	margin-bottom: 3rem;
}

.callback--form {
	width: 50%;
}

.callback--form form {
	  display: flex;
  	flex-direction: column;
  	align-items: flex-end;

}

.callback--form input {
	margin-bottom: 48px;
	width: 100%;
}






