@media (max-width: 1260px) {
.header-des {
		display: none;
	}

	.header-mob {
	display: block;
	width: 100%;

}

.menu-visible {
	position: fixed;
	z-index: 9999;
	top: 1rem;
	padding: 0 5.5vw;
	cursor: pointer;
	font-size: 1.3rem;
}

.menu-hidden {
	position: fixed;
	width: 100%;
	z-index: 9999;
	padding: 0 5.5vw;
	display: none;
}
.menu-container {
	position: relative;
	background-color: var(--bgColor);
	width: 100%;
	padding: 4rem 3rem;
	top: 25vh;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
}

.menu-content {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-bg {
		background-color: var(--blackColor);
		opacity: 90%;
		width: 100vw;
		height: 100vh;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
}

#menu-open {
	color: var(--lightBgColor);
}

#menu-close {
	height: 2.5rem;
	width: 2.5rem;
	cursor: pointer;

}

.m-h-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.m-h-wrapper .tag {
	margin-bottom: 1.3rem
}

#res-products .container {
	overflow-x: visible;
	padding-top: 5rem;
	margin-bottom: 9rem;
}

#res-products .card--num {
	padding-bottom: 5rem;
	padding-top: 5rem;
	min-height: 10rem;
	flex-direction: column;
}



#res-products .card--num .card-left {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#res-products .card--num .card-right {
	width: 100%;
}

#res-products .card--num .two-num	{
	height: 8rem;
} 

#res-products .card--num .card-right {
	padding-left: 0;
	margin-top: 2rem
}

#res-products .card--contact .subhead{
	margin-bottom: 5.2rem
}

#res-products .card-left .subhead {
	margin-bottom: 1rem
}

#res-products .card-left .txt {
	margin-bottom: 1rem
}

.ind-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 3rem
}

.ind-txt {
	width: 50%
}

.ind-txt .txt {
	width: 70%
}

.ind-slider-bull {
	width: 50%;
	margin-top: 3rem
}

#industry .container {
	flex-direction: column;
}

.ind-card {
	width: 100%
}


}

@media (max-width: 950px) {


.sol-slider {
	width: 100%;
	margin-bottom: 5rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}


#card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
	display: none;
}

.slider-card  {
	width: 100%;
}

.slider-card .card--num {
	max-height: 15rem;
	width: 100%;
	padding: 4.5rem;
	margin-bottom: 2rem;
}
.slider-card .card--num .txt {
	width: 90%
}

.slider-card .card--num .subhead {
	width: 100%;
	margin-bottom: 1rem;
}

.silder-num {
	height: 100%;
	width: 100%;
	margin-bottom: 2rem;
}

.slider-card-item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.num-wrapper {
	display: flex;	
}

#num-disable {
	opacity: 30%;
}

.sol-form .callback--wrapper{
	display: flex;
	flex-direction: column;
}


.sol-form .subhead {
	margin-bottom: 2rem
}

.sol-form .callback--txt {
	width: 80%
}

.sol-form .callback--txt .opthead {
	width: 100%
}

.sol-form .callback--form {
	width: 100%;
}

.card-txt .txt {
	width: 100%
}

}

@media (max-width: 767px){

.menu-visible {
	padding: 0 8.5vw;
}

#welcome .container {
	display: flex;
	flex-direction: column-reverse;
	height: 100vh;
	margin-bottom: 5rem
}

.welcome--txt {
	padding-bottom: 2rem
}

.welcome--txt .head {
	font-size: 3rem;
	margin-bottom: 2rem;
	margin-top: 1rem
}

.welcome--txt .opthead {
	margin-bottom: 1.5rem;
}



#about .container {
	display: flex;
	flex-direction: column;
}

#about .container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	overflow-x: visible;
	margin-bottom: 6rem;
	padding: 0 8.5vw
}

.about--txt .subhead {
	margin-bottom: 24px;
}

.about--txt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.about--txt-block .subhead {
	width: 100%;
}

.about--txt-block .opthead {
	margin-bottom: 1rem;
}

.about--txt-block .txt{
	width: 100%;
	margin-bottom: 2rem;
}

.about--txt-block {
	width: 100%;
	padding-right: 5vw;
}

.about--num {
	width: 80%;
	margin-top: 4rem;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-between;
}

.about--num .subhead{
	margin-bottom: 30px;
}

.about--num-box {
	border-left: 2px solid var(--greenColor);
  	padding-left: .5rem;
  	margin-bottom: 50px;
  	width: 40%
}

.about--num-box .txt {
	width: 200%
}

.million-box {
	display: flex;
	flex-direction: row;
}

.num-million {
	margin-right: 40px;

}


.product .container {
	height: 100vh;
	display: flex;
	flex-direction: column-reverse;
	padding: 0;
	margin-bottom: 5rem
}

.product-image {
	height: 40vh;
	width: 100%;
	background-size: cover;
	background-position: top;
	margin-bottom: 2rem;
}

.product-txt {
	width: 100%;
  padding: 0 8.5vw;
  margin: 0 auto;
}

.point--container {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2rem
}

#traffic .product-image {
	background-position: bottom;
}

.product-txt-top .big-head {
	margin-bottom: 2rem
}

.point-box {
	position: relative;
	margin-bottom: 1rem;
	width: 50%;
	text-align: center;
	padding-bottom: 1.5rem;
}


.point-box .d-u--br {
	height: 2rem;
	width: 2rem;
}

.point-box .d-u--bl {
	height: 2rem;
	width: 2rem;
}

.point-box .d-c--br {
	height: 2rem;
	width: 2rem;
}

.point-box .d-c--bl {
	height: 2rem;
	width: 2rem;
}



.product-txt-wrapper {
	margin-bottom: 2rem
}

.product-txt-wrapper .txt {
	margin-bottom: 1rem;
}







.slider-item .card--num   {
	width: 100%;
	min-height: 20rem;
	padding-bottom: 4rem;
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.slider-item .card--num .subhead {
	margin-bottom: 2rem
}

.slider-item .btn--action {
	position: absolute;
	bottom: 4rem
}

#solution .container {
	overflow-x: visible;
	padding-top: 5rem;
	margin-bottom: 9rem;
}

.card-txt .des {
	margin-bottom: 0.5rem
}

.card--contact .opthead {
	margin-bottom: .3rem;
	width: 120%
}

.card--contact {
	z-index: -99;
}

.card--contact .card-txt {
	margin-bottom: 1.5rem
}


.card-left {
	margin-bottom: 3rem
}


.card-right .num-box {
	margin-bottom: 1rem
} 

.card--contact {
	width: 100%;
	min-height: 20rem;
}


.callback--txt .des{
	width: 50%;
	margin-bottom: 10px;
	line-height: 110%;
}


.callback--txt .txt{
	margin-bottom: 10px;
}


.callback--form form {
	  display: flex;
  	flex-direction: column;
  	align-items: flex-end;

}

.callback--form input {
	margin-bottom: 48px;
	width: 100%;

}

#callback .container {
	display: flex;
	flex-direction: column;
}

.callback--wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.callback--form {
	height:20rem;
}

.callback--txt {
	width: 100%;
	margin-bottom: 5rem
}

.callback--txt .txt {
	width: 100%;
}

.callback--txt .opthead{
	margin-bottom: 1rem;
}

#callback .container .head {
	margin-bottom: 3rem;
}

.callback--form {
	width: 100%;
}

.callback--form form {
	  display: flex;
  	flex-direction: column;
  	align-items: flex-end;

}

.callback--form input {
	margin-bottom: 48px;
	width: 100%;

} 



}

