@import "txt";
@import "elements";


#welcome .container {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
}

.grolli-air-render {
 	margin: 0 auto;
 	text-align: center;
 }

.icons img {
	transition: all 0.5s cubic-bezier(.2,.68,.36,1.01);
}

.icons img:hover {
	transform: scale(1.03);
	}


#eco .container {
	margin-bottom: 20rem;

	text-align: center;

}

#eco .container .head {
	margin: 0 auto;
}




#eco .card-grid {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
    width: 100%;
 	gap: 6rem;
 	padding: 6rem;
    overflow-y: visible;
}

#eco-1 {
	grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 3rem;

    background-image: url(../img/eco/farm.png);
    background-size: cover;
    background-position: center;
}





#eco-2 {
	grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 3rem;

    background-image: url(../img/eco/ferti.png);
    background-size: cover;
    background-position: top;
}

#eco-3 {
	grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;

    background-image: url(../img/eco/light.png);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 3rem;
}

#eco-3 .headcard {
	color: var(--whiteColor);
}

#eco-4 {
	grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 3rem;

    background-image: url(../img/eco/seeds.png);
    background-size: cover;
    background-position: center;
}

#eco-5 {
	grid-column-start: 12;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 3;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 3rem;

    background-image: url(../img/eco/app.png);
    background-size: cover;
    background-position: center;
}








#abi .icons-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6rem;
}


#abi .card-grid {
 	display: grid;
 	grid-template-columns: 1fr 3fr;
 	gap: 6rem;
 	padding: 6rem;

 }

#abi .card-grid .card {
	padding: 3rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	text-align: center;
}

#abi .card-grid .card-bg {
	background-image: url(../img/abi/render.png);
	background-size: cover;
	background-position: right;
}

#abi .icon-card {
  height: 8rem;
}



.gallery-container {
	padding-left: -6rem;
	margin-top: 5rem;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;

}

#gallery-hid {
	display: none;
}

#gallery-btn-show  {
	z-index: 9999;
	margin-top: 5rem;
}



.gallery-wrapper {
	padding: 6rem;
	padding-top: 0;
	padding-bottom: 0;
}

.gallery {
	 	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 24rem);
    width: 100%;
  	 grid-gap: 6rem;

}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(.2,.68,.36,1.01);   
}

.gallery__img:hover {
	transform: scale(1.01);
}


.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}






/* Large desktops and laptops */
@media (min-width: 1200px) {
	#welcome .container {
		text-align: center;
		height: 100%;
		margin-top: 10%;
		margin-bottom: 10%;
	}

	.grolli-air-render {
 	height: 65rem;
 	}

 	#welcome .head {
 		width: 600px;
 	}

 	#welcome .btn {
		margin-bottom: 6rem;
	}

	.icons img {
 	height: 6rem;
 	margin-right: 1rem;
 	}


 	#abi .container {
 		display: flex;
 		flex-direction: column;
 		align-items: center;

 	}

 	#abi .head {
 		width: 600px;
 		text-align: center;
 	}

 	#eco .head {
 		width: 600px;
 		text-align: center;
 	}







}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 1199px) {
	#welcome .container {
		text-align: center;
		height: 100%;
		margin-top: 15%;
		margin-bottom: 15%;
	}

	.grolli-air-render {
 	height: 55rem;
 	}

 	#welcome .head {
 		width: 500px;
 	}

 	#welcome .btn {
		margin-bottom: 6rem;
	}

	.icons img {
 	height: 5rem;
 	margin-right: 1rem;
 	}


 	 #abi .container {
 		display: flex;
 		flex-direction: column;
 		align-items: center;
 		
 	}

 	.card-grid .card {
 			margin-bottom: 4rem;
			margin-left: 4rem;
 	}


 	#abi .head {
 		width: 400px;
 		margin-bottom:7rem;
 		text-align: center;
 	}

 	.card-grid {
 		gap: 0rem;
 		padding-left: 0rem;
 	}
 	.icons-grid {
 		gap: 0rem;
 	}



}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#welcome .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		margin-top: 50%;
		margin-bottom: 50%;
	}

	.grolli-air-render {
 		width: 60rem;
 	}

 	 #welcome .head {
 		width: 90%;
 		text-align: center;
 	}

 	#welcome .btn {
		margin-bottom: 6rem;
	}

	.icons img {
 	height: 7rem;
 	margin-right: 1rem;
 	}



 	#abi .head {
 		width: 200px;
 	}

 	.card-grid {
 		width: 100%;
 		grid-template-columns: 1fr;
		gap: 6rem;
 		padding-left: 0rem;
 	}

 	.icons-grid {
 		gap: 6rem;
 		padding-left: -20rem
 	}

 	.card-grid .card .headcard {
 		width: 100%
 	}


}

