@media (min-width: 768px) {

	.header-des {
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: var(--blackColor);
}

.header-mob {
	display: none;
}

.header-wrapper {
	padding: 1rem, 5,5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

}

.header-left, .header-right {
	margin-top: 1rem
}

	#cover .container {
	margin-bottom: 0px;
	padding-top: 8rem;
	overflow-x: hidden;
	height: 100vh;
}

.cover--img {
	background-image: url(../img/cover/cover.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40vh;
	margin-bottom: 5rem;
}

.cover--txt {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

#cover .point-box {
	width: 40rem;
	margin-bottom: 2rem;
	padding-left: .5rem;
	padding-right: .5rem
}

#cover .point-box .opthead{
	width: 80%;
	margin: 0 auto 1rem;

}

#cover .point-box .d-u--br {
	height: 2rem;
	width: 2rem;
}

#cover .point-box .d-u--bl {
	height: 2rem;
	width: 2rem;
}

.cover-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.cover-btn .btn--action {
	margin-right: 1rem
}

.doc-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	background-color:  rgba(31, 30, 35, 0.9);
	display: none;
}

#doc-btn, #doc-close {
	cursor: pointer;
}

.doc-wrapper {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%
}

.doc-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#doc-img {
	height: 70vh;
}

#doc-close {
	height: 2rem;
	width: 2rem;
	margin-left: 1rem;
}

#focus .container {
	margin-bottom: 12rem
}

.focus-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.focus--txt {
	width: 30%;
}

.focus--txt .opthead {
	width: 50%;
	margin-top: 3vh;
}

.focus--bullets {
	width: 50%;
}

.focus--bullets .opthead {
	color: var(--lightBgColor);
}

.focus-screen .subhead {
	width: 80%;
}

.focus-img-1 {
	background-image: url(../img/focus/focus.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40vh;
	margin-top: 2rem

}











