#cover .container {
	margin-bottom: 0px;
	overflow-x: visible;
	height: 100vh;
}

.cover--img {
	background-image: url(../img/cover/cover.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40vh;
	margin-bottom: 10vh;
}

.cover--txt {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5vh;
}

#cover .point-box {
	width: 50%;
	margin-bttom: 3vh;
}

#cover .point-box .deli-corner--bottom-left {
	border-left: 1px solid var(--greenColor);
	border-bottom: 1px solid var(--greenColor);
	height: 4vh;
	width: 4vh;
}

#cover .point-box .deli-corner--bottom-right {
	border-right: 1px solid var(--greenColor);
	border-bottom: 1px solid var(--greenColor);
	right: -1px;
	height: 4vh;
	width: 4vh;
}



#about .container {
	height: 70vh;
	margin-bottom: 100px;
}


#about .subhead {
	margin-bottom: 60px;
}

#about .txt {
	margin-bottom: 10px;
}

.txt--container {
	width: 80%;
}


#about .card--num{
	padding-left: 4vw;
	height: 30vh;
	padding-top: 8vh;
}

.card--txt {
	width: 60%;
}


.cards-container--row {
	display: flex;
	flex-direction: row;
}

.cards-container--row-reverse {
	display: flex;
	flex-direction: row-reverse;
}


.focus-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.focus--txt {
	width: 50%;
}

.focus--txt .opthead {
	width: 50%;
	margin-top: 3vh;
}

.focus--bullets {
	width: 50%;
}

.focus--bullets .opthead {
	color: var(--lightBgColor);
}

.focus-screen .subhead {
	width: 80%;
}

.focus-img {
	background-image: url(../img/focus/focus.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 50vh;
	margin-top: 6vh;
}

.txt-box .opthead{
	margin-bottom: 8px;
}


#table {
	margin-bottom: 100px;
}

#table .container {
	overflow-x: visible;
}


#table .subhead {
	margin-bottom: 40px;
}

.table-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.table-box-container {
	width: 70%;
	margin-right: 50px;
}

.table-box {
	border-bottom: 1px solid var(--lightBgColor);
	padding-top: 20px;
	padding-bottom: 20px;
}

.table-box .subhead {
	color: var(--lightBgColor);
}

.table-box .txt {
	color: var(--bulletsColor);
	width: 70%;
	margin-top: 16px;
}


#callback .container {
	height: 60vh;
	margin-bottom: 10vh;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
	margin-bottom: 9rem;
}

.callback--wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.callback--form {
	height: 30rem;
}

.callback--txt {
	width: 30%;
}


#callback .container .head {
	margin-bottom: 3rem;
}

.callback--form {
	width: 50%;
}

.callback--form form {
	  display: flex;
  	flex-direction: column;
  	align-items: flex-end;

}

.callback--form input {
	margin-bottom: 48px;
	width: 100%;
}











