@media (min-width: 768px) {


	.header-des {
	display: block;
	position: fixed;
	margin: 0 auto;
	max-width: 100%;
	top: 0;
	background-color: var(--blackColor);
}





.header-mob {
	display: none;
}

.header-wrapper {
	padding: 1rem, 5,5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

}

.header-left, .header-right {
	margin-top: 1rem
}

#welcome .container {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	padding-left: 5.5vw;
	padding-right: 0;
	margin-bottom: 4rem;
	display: flex;
	align-items: flex-end;
	position: relative;
}



#welcome .research-logo {
	margin-bottom: 4vh;
}

.welcome--txt{
	margin-bottom: 5vh;
}

.welcome--txt .head {
	margin-bottom: 3vh;
	white-space: nowrap;
}

.welcome--txt .opthead {
	margin-bottom: 4vh;
}


.welcome--img {


}

#big {
	background-image: url(../img/welcome/big.png);
	background-size: cover;
	background-position: right;
	position: absolute;

	width: 78rem;
	height: 45rem;
	left: 33rem;
	top: 10rem;
}

#medium {
	background-image: url(../img/welcome/medium.png);
  background-size: cover;
  background-position: right;
  position: absolute;
	width: 53rem;
	height: 35rem;
	left: 55rem;
	top: 15rem;
}

#small-left {
	background-image: url(../img/welcome/small-left.png);
  background-size: cover;
  background-position: right;
  position: absolute;
	width: 35rem;
	height: 20rem;
	left: 50rem;
	top: 34rem;
}

#small-right {
	background-image: url(../img/welcome/small-right.png);
  background-size: cover;
  position: absolute;
	width: 30rem;
	height: 20rem;
	left: 65rem;
	top: 5rem;
}

#small-top {
	background-image: url(../img/welcome/small-top.png);
  background-size: cover;
  position: absolute;
	width: 28rem;
	height: 18rem;
	left: 35rem;
	top: 11rem;
}



/* welcome-Screen */


#about .container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	overflow-x: visible;
	margin-bottom: 9rem;
	height: 90vh;
	padding-top: 10rem;
}


.about--txt {
	width: 50%;
	height: 98%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.about--txt-block .subhead {
	width: 150%
}

.about--txt-block .opthead {
	width: 150%;
	margin-bottom: 1rem
}

.about--txt-block .txt{
	margin-bottom: 2rem;
	width: 150%
}

.about--txt-block  {
	width: 50%;
}

.about--num {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.about--num .subhead{
	margin-bottom: .5rem;

}

.about--num-box {
	border-left: 4px solid var(--greenColor);
  padding-left: 12px;
  margin-bottom: 0.5rem;
}

.million-box {
	display: flex;
	flex-direction: row;
}





#products {
	margin-bottom: 9rem;
}



.product .container {
	display: flex;
	justify-content: space-between;
	height: 100vh;
	overflow-x: visible;
	margin-bottom: 100px;
	padding-top: 5rem;
	padding-right: 0;
	padding-left: 5.5vw;


}

.product-image {
	width: 52.5%;
	position: relative;
	background-size: cover;
	background-position: top;

}

.product-txt {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding-top: 5vh;
	width: 40%;
	height: 90%;
}

.product-txt-top .big-head {
	margin-bottom: 5vh;
}

.point--container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;

}

.point-box {
	position: relative;
	text-align: center;
	width: 50%;
}

.point-box .opthead {
	margin-bottom: 3vh;
}

.product-txt-bottom .txt {
	width: 70%;
	margin-bottom: 1rem;
} 

.product-txt-wrapper {
	margin-bottom: 3rem;
}


#guard .product-image {
  background-image: url(../img/products/guard.jpg);

}

#scan .product-image {
  background-image: url(../img/products/scan.jpg);
}

#gis .product-image {
  background-image: url(../img/products/gis.jpg);
}

#traffic .product-image {
  background-image: url(../img/products/traffic.jpg);
}

#anchortag .product-image {
  background-image: url(../img/products/tag.jpg);
}

.point-box .d-u--br {
	height: 2rem;
	width: 2rem;
}

.point-box .d-u--bl {
	height: 2rem;
	width: 2rem;
}

.point-box .d-c--br {
	height: 2rem;
	width: 2rem;
}

.point-box .d-c--bl {
	height: 2rem;
	width: 2rem;
}

/* Products-Screen */


/* Support-Screen */

#support .container {
	height: 80vh;
	margin: 0;
	padding-right: 0;
	padding-top: 5rem;
	max-width: 100%;
	padding-left: 5.5vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	margin-bottom: 9rem;
}

.support--content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 110%;
	width: 30%;
} 

.support--txt {
	height: 100%;
}

.support--txt .head {
	margin-bottom: 4vh;
}

#support form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#support input {
	width: 100%;
	margin-bottom: 4vh;
}

.support--img {
	background-image: url(../img/support/support-code.png);
	background-size: cover;
	background-position: left;
	width: 50vw;
	height: 110%;
	padding-bottom: 10%;
}


#hr .container {
	overflow-x: visible;
	padding-top: 10rem;
	margin-bottom: 9rem;
}


#hr .card--num .card-left {
	width: 50%;
	height: 12rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#hr .card--num .card-right {
	width: 50%;
	height: 12rem;
}


#hr .card--contact .subhead{
	margin-bottom: 5.2rem
}
.card-left {

}

.card-txt .des {
	margin-bottom: 0.5rem
}


#callback .container {
	height: 70vh;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
	margin-bottom: 13rem;
}

.callback-content {
	margin-top: 12rem
}

.callback--wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.callback--form {
	height: 30rem;
}

.callback--txt {
	width: 30%;
}




#callback .container .head {
	margin-bottom: 3rem;
}

.callback--form {
	width: 50%;
}

.callback--form form {
	  display: flex;
  	flex-direction: column;
  	align-items: flex-end;

}

.callback--form input {
	margin-bottom: 48px;
	width: 100%;
}


}





