@media (max-width: 960px) {
	.header-des {
		display: none;
	}

	.header-mob {
	display: block;
	width: 100%;

}

.menu-visible {
	position: fixed;
	z-index: 9999;
	top: 1rem;
	padding: 0 5.5vw;
	cursor: pointer;
}

.menu-hidden {
	position: fixed;
	width: 100%;
	z-index: 9999;
	padding: 0 5.5vw;
	display: none;
}
.menu-container {
	position: relative;
	background-color: var(--darkColor);
	width: 100%;
	padding: 4rem 3rem;
	top: 25vh;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
}

.menu-content {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-bg {
		background-color: var(--darkColor);
		opacity: 90%;
		width: 100vw;
		height: 100vh;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
}

#menu-close {
	height: 2.5rem;
	width: 2.5rem;
	cursor: pointer;

}

.m-h-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.m-h-wrapper .tag {
	margin-bottom: 1.3rem
}
}



@media (max-width: 767px){

.menu-visible {
	padding: 0 8.5vw;
}


#cover .container {
	margin-bottom: auto;
	padding: 5rem 0 0;
	overflow-x: visible;
	height: 100vh;
	margin-bottom: 5rem;
	text-align: center;

}

.cover--img {
	background-image: url(../img/cover/cover.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40vh;
	margin-bottom: 5vh;
}

.cover--wrapper {
	padding: 0 8.5vw;
	height: 60vh;

}

.cover--txt {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	width: 100%;
	height: 30vh;

}

#cover .point-box {
	width: 80%;
	margin: auto;
	padding-left: .5rem;
	padding-right: .5rem;

}

#cover .point-box .opthead{
	width: 80%;
	margin: auto;

}
#cover .point-box .d-u--br {
	height: 2rem;
	width: 2rem;
}

#cover .point-box .d-u--bl {
	height: 2rem;
	width: 2rem;
}

.cover-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cover-btn .btn--action {
	margin-bottom: 1rem
}

.doc-container {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	background-color:  rgba(31, 30, 35, 0.9);
}

#doc-btn, #doc-close {
	cursor: pointer;
}

.doc-wrapper {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.doc-content {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;

}

#doc-img {
	width: 80vw
}

#doc-close {
	height: 3rem;
	width: 3rem;
	margin-bottom: 1.5rem;
}



#about .container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	overflow-x: visible;
	margin-bottom: 6rem;
}

.about--txt .subhead {
	margin-bottom: 24px;
}

.about--txt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
}

.about--txt-block .subhead {
	width: 180%;
}

.about--txt-block .opthead {
	margin-bottom: 1rem;
}

.about--txt-block .txt{
	width: 180%;
	margin-bottom: 2rem;
}

.about--txt-block {
	width: 100%;
	padding-right: 5vw;
}

.about--num {
	width: 110%;
	margin-top: 4rem;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-between;
}

.about--num .subhead{
	margin-bottom: 30px;
}

.about--num-box {
	border-left: 4px solid var(--greenColor);
  	padding-left: 12px;
  	margin-bottom: 50px;
}

.million-box {
	display: flex;
	flex-direction: row;
}

.num-million {
	margin-right: 80px !important;

}	

#task .container {
	margin-bottom: 7rem;
	height: 100%;
}

#task .cards-container--row {
	flex-direction: column;
} 


#task .subhead {
	margin-bottom: 2vh;
}

#task .txt {
	margin-bottom: 1vh;
}

#task .card--num {
	padding-left: 3vw;
}


#focus .container {
	padding: 0;
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 9rem
}

.focus-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 8.5vw;	
}

.focus--txt {
	width: 80%;
	margin-bottom: 3rem
}

.focus--txt .opthead {
	width: 100%;
	margin-top: 2rem;
}

.focus--bullets {
	width: 100%;
}

.focus-screen .subhead {
	width: 80%;
}

.focus-img {
	background-image: url(../img/focus/focus.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 40vh;
	margin-bottom: 4rem

}



#techinfo {
	margin-bottom: 9rem;
}

#techinfo .container {
	overflow-x: visible;
}

#techinfo .cards-container--nor {
	flex-direction: column;
}

#techinfo .card--num {
	width: 100%;
	padding-top: 8vh;
	padding-bottom: 5vh;
	padding-left: 5vw;
	min-height: 35rem;

}




.card--txt-box {
	width: 100%;
	margin-top: 2rem;
}

.card--txt-box .card-txt-wrapper {
	width: 100%;
	margin-right: 10rem;

}

.card-txt-wrapper .txt {
	margin-bottom: 1rem;
}

.card--txt-box {
	display: inline-block;
}

.card--txt-box .btn--action{
	margin-top: 1rem
}




#demo .container {
	display: flex;
	flex-direction: column;	
	padding: 0 8.5vw;
	min-height: 75rem;
}

.demo-wrapper {
	width: 100%
}

.demo-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.demo-btn .btn--action {
	margin-bottom: 1rem
}

.demo-img img {
	width: 100%
}

.demo-img {
	margin: auto;
	margin-bottom: 3rem
}

#demo-comp {
display: none;
}

.demo-info .opthead {
	width: 90%
}

.txt-btn {
	margin-bottom: 3rem
}


.callback--txt .des{
	width: 50%;
	margin-bottom: 10px;
	line-height: 110%;
}


.callback--txt .txt{
	margin-bottom: 10px;
}


.callback--form form {
	  display: flex;
  	flex-direction: column;
  	align-items: flex-end;

}

.callback--form input {
	margin-bottom: 48px;
	width: 100%;

}

#callback .container {
	display: flex;
	flex-direction: column;
	margin-bottom: 10rem;
	min-height: 40rem;
}

.callback--wrapper {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.callback--form {
	height:20rem;
}

.callback--txt {
	width: 100%;
}

.callback--txt .txt {
	width: 100%;
}

.callback--txt .opthead{
	margin-bottom: 1rem;
}

#callback .container .head {
	margin-bottom: 3rem;
}

.callback--form {
	width: 100%;
}

.callback--form form {
	  display: flex;
  	flex-direction: column;
  	align-items: flex-end;

}

.callback--form input {
	margin-bottom: 48px;
	width: 100%;
} 



}

