@font-face {
	font-family: 'FiraCode-Regular';
	src:
	url('../fonts/Fira_Code/FiraCode-Regular.woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FiraCode-Medium';
	src:
	url('../fonts/Fira_Code/FiraCode-Medium.woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PTSans-Regular';
	src:
	url('../fonts/PT_Sans/PTSans-Regular.woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PTSans-Bold';
	src:
	url('../fonts/PT_Sans/PTSans-Bold.woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
