

/* About-Screen */

.nvi-solutions-container {
	overflow-x: hidden;
}

header {
	height: 2000px;
}

footer {
	height: 200px;
}

.about-screen {
	margin-bottom: 140px;
}

.about-screen--container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}



.about-screen--txt-block .subhead {
	margin-bottom: 24px;
}

.about-screen--txt-block {
	margin-bottom: 120px;
}

.about-screen--txt-container {
	width: 50%;
	padding-right: 4vw;
}

.about-screen--num-container {
	width: 50%;
	padding-left: 5vw;
}

.about-screen--num-container .subhead{
	margin-bottom: 30px;
}

.about-screen--num-box {
	border-left: 4px solid var(--greenColor);
  	padding-left: 12px;
  	margin-bottom: 50px;
}

.million-box {
	display: flex;
	flex-direction: row;
}

.num-million {
	margin-right: 40px !important;

}

/* About-Screen */

/* Research-Screen */

.research-screen--container {
	background-color: var(--blackColor);
	border-radius: 60px;
	height: 900px;
	padding-left: 130px;
	padding-top: 60px;
	padding-bottom: 60px;

	position: relative;
}

.research-screen .head {
	color: var(--lightBgColor);
	margin-bottom: 20px;
}

.research-logo {
	margin-bottom: 376px;
}

.research-screen .opthead {
	color: var(--bgColor);
	margin-bottom: 36px;
}

.research-screen--content {
	width: 45%;
	z-index: 999;
}

.research-screen--content .btn--action {
	width: 98px;
}

.research-screen--content-txt .btn--action:hover {
	background-color: var(--lightBgColor);
	color: var(--blackColor);
	transition: .3s;
}

.research-screen--image {
	width: 1360px;
	height: 870px;
	z-index: 1;

	position: absolute;
	top: -10px;
	left: 400px;
}

.research-screen {
	margin-bottom: 140px;
}

/* Research-Screen */

/* Focus-Screen */

.focus-screen {
	margin-bottom: 140px;
}


.focus-screen--container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.focus-screen--bullets {
	margin-right: 350px;
}



/* Focus-Screen */

/* Product-Screen */

.product-screen {
	margin-bottom: 140px;
}

.cards-container--row {
	position: relative;
}

.cards-container--row {
	position: relative;
}

.cards-container--row .deli--corner-tl {
	position: absolute;
	top: 0;
	left: 0;
}

.product-screen .subhead {
	margin-bottom: 60px;
}

.cards-container--row {
	display: flex;
	flex-direction: row;
}

.cards-container--row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

#Guard {
	padding-right: 50px;
}

#Traffic {
	padding-right: 50px;
}

#Tag {
	padding-right: 12px;
}


/* Product-Screen */

.solutions-screen {
	margin-bottom: 200px;
}

.solutions-screen .subhead {
	margin-bottom: 60px;
}
 	



/* Industry-Screen */

.industry-screen {
	margin-top: 100px;
	margin-bottom: 150px;
}

.industry-screen--container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.industry-screen--content-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.industry-screen--txt-container {
	width: 60%;

}

.industry-screen--txt-container .subhead {
	margin-bottom: 16px;
}


.industry-screen--slider-bullet-active, 
.industry-screen--slider-bullet-disable {
	margin-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: -16px;
}

.industry-screen--slider {
	margin-bottom: -8px;
}

.slider-bullet {
	height: 8px;
	width: 8px;
	border-radius: 4px;
	margin-right: 8px;
	background-color: var(--grayColor);
}

.industry-screen--slider-bullet-active  .slider-bullet {
	background-color: var(--greenColor);
}

.industry-screen--slider-bullet-disable  {
	opacity: 50%;
}


.card--cases-box {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.card--cases-box-txt .subhead {
	margin-bottom: 30px;
}

.card--cases-box-txt .opthead {
	margin-bottom: 20px;
}


.num-box-active {
	color: var(--grayColor);
	width: 70%;
}

.num-box-disable {
	color: var(--grayColor);
	width: 70%;

}

.industry-screen--card-container {
	width: 50%;
}

.card--cases-box {
	height: 475px;
	position: relative;
	padding: 40px 60px 60px 0px;
}

.card--cases-icon {
	margin-left: 54px;
}

.card--cases-box-txt {
	width: 70%;
}

.card--cases-box-txt .num-box {
	margin-bottom: 20px;
	margin-left: 0px;
}

.industry-btn {
 margin-top: 40px;
 margin-bottom: 60px;
}

#petrol {
	background-image: url(../img/industry/petrol.svg);
	height: 95px;
	width: 95px;
}



/* Industry-Screen */

